.wrapper-yaxis {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
}

.wrapper-yaxis li {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
