.tooltip {
    background-color: #897d7d;
    padding: 2px 5px;
    border-radius: 5px;
    position: absolute;
    font-size: 12px;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.price {
    display: flex;
}