.tooltip {
    visibility: hidden;
    background-color: #897d7d;
    padding: 2px 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 10px;
    font-size: 12px;
    left: 5px;
}

.point:hover .tooltip {
    visibility: visible;
}